<!DOCTYPE html>
<html>
    <head>
        <title>Exempt Liquidity Market Exchange Reporting</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/index.css" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    </head>
    <body>
        <!-- HEADER -->
        <h2 class="w3-container w3-yellow header">Exempt Liquidity Market Exchange Reporting</h2>
        <!-- MAIN PAGE -->
        <div id="main-page" class="w3-container">
            <br/><br/><br/>
            <ul class="w3-ul">
                <fieldset>
                    <legend>Algorithmic Advisor Auditor</legend>
                    <li><a href="./algoauditor.html" class="w3-button w3-block w3-black">Algorithmic Advisor Auditor Profile Submission</a></li>
                </fieldset>
                <fieldset>
                    <legend>Algorithmic Trading</legend>
                    <li><a href="./algobot.html" class="w3-button w3-block w3-black">Algorithmic Trading Bot Submission</a></li>
                </fieldset>
                <fieldset>
                    <legend>Alternative Trading Systems</legend>
                    <li><a href="./brokerdealersats.html" class="w3-button w3-block w3-black">Alternative Trading System (ATS) Registration</a></li>
                </fieldset>
                <fieldset>
                    <legend>Broker-Dealers</legend>
                    <li><a href="./formquarterly.html" class="w3-button w3-block w3-black">Form Quarterly: QUARTERLY REPORT</a></li>
                    <li><a href="./formannual.html" class="w3-button w3-block w3-black">Form Annual: ANNUAL REPORT</a></li>
                    <li><a href="./form8k.html" class="w3-button w3-block w3-black">Form 8-K: CURRENT REPORT</a></li>
                </fieldset>
                <fieldset>
                    <legend>Entities</legend>
                    <li><a href="./formquarterly.html" class="w3-button w3-block w3-black">Form Quarterly: QUARTERLY REPORT</a></li>
                    <li><a href="./formannual.html" class="w3-button w3-block w3-black">Form Annual: ANNUAL REPORT</a></li>
                    <li><a href="./form8k.html" class="w3-button w3-block w3-black">Form 8-K: CURRENT REPORT</a></li>
                </fieldset>
                <fieldset>
                    <legend>Smart Contract Auditor</legend>
                    <li><a href="./smartcontractauditor.html" class="w3-button w3-block w3-black">Smart Contract Auditor Profile Submission</a></li>
                </fieldset>
                <fieldset>
                    <legend>Wallet Provider</legend>
                    <li><a href="./walletprovider.html" class="w3-button w3-block w3-black">Wallet Provider Profile Submission</a></li>
                </fieldset>
            </ul>
            <div id="going-public-dialog" class="w3-modal">
                <div class="w3-modal-content">
                    <div class="w3-container w3-white">
                        <p class="w3-panel">
                            <h2 class="w3-blue">Steps to Going Public:</h2>
                            <a href="https://www.amazon.com/dp/B00NAZ2226" target="_blank" class="w3-button w3-block w3-black">From Startup to Corporate Giant</a>
                            <ol class="w3-block">
                                <li>Register on Exempt Liquidity Market Exchange</li>
                                <li>Register with the SEC as a Transfer Agent for your own securities</li>
                                <li>Locate a CPA in good standing</li>
                                <li>Prepare a Registration for Regulation Section 3(a)(11) intra-state offering</li>
                                <li>Register Section 3(a)(11) with your home US State</li>
                                <li>Apply for a CUSIP (and ISIN) for the Section 3(a)(11) offering</li>
                                <li>Obtain a trading symbol for your Section 3(a)(11) offering on Exempt Liquidity Market Exchange</li>
                                <li>List yor Section 3(a)(11) offering on Exempt Liquidity Market Exchange</li>
                                <li>File Quarterly and Annual Reports on Exempt Liquidity Market Exchange for the Section 3(a)(11) offering with the annual report audited by a qualified CPA</li>
                                <li>Locate a PCAOB registered Auditor in good standing</li>
                                <li>File a Form 10-12G for the Section 3(a)(11) Offering (will meet reporting requirements, if timely, after 12 months for a simplified S-3 filing)</li>
                                <li>Maintain your 10-Q, 10-K and 8-K filing compliance (must maintain timely reporting during twelve months to be eligible to use simplified S-3)</li>
                                <li>Locate a qualified attorney for the S-1(S-3) offering</li>
                                <li>File a Draft Registration Statement</li>
                                <li>File an S-1 (or S-3: usable for companies with at least 12 months of timely reporting, if a Form 10 was filed for exempt offering for voluntary reporting, then an S-3 may be used instead of a S-1?) and any amendments</li>
                                <li>File form 8-A</li>
                                <li>Obtain a CUSIP and ISIN number for the S-1 (or S-3) offering</li>
                                <li>Obtain a trading symbol from FINRA for the S-1 (or S-3) offering</li>
                                <li>Begin the process of a Direct Public Offering on the NYSE, UTP may be used for Section 3(a)(11) conversion to S-1(S-3) shares</li>
                                <li>Receive a Notice of Effectiveness</li>
                                <li>File a Prospectus under Rule 424B4</li>
                                <li>Obtain a CUSIP and ISIN number for any spinoff registrations</li>
                                <li>File Form 10-12B for any spinoff registrations</li>
                            </ol>
                        </p>            
                    </div>
                </div>
            </div>
            <br/><br/><br/>
        </div>
        <!-- FOOTER -->
        <h5 class="w3-container w3-yellow footer">
            &copy; <span id="year"></span> by <a href="https://presspage-entertainment.biz" target="_system" style="text-decoration: none">PressPage Entertainment Inc</a> DBA <a href="https://redeecas.presspage-entertainment.biz" target="_system" style="text-decoration: none">RedeeCash</a>. All rights reserved.
            &nbsp;<span id="version" class="w3-tiny"></span>
        </h5>                       
        <!-- JAVASCRIPT -->
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">
            window.onload = function() {
                document.getElementById("version").innerHTML = 'Version ' + localStorage.getItem('version');

                var year = new Date().getFullYear();
                if (year > 2018) {
                    document.getElementById("year").innerHTML = "2018-" + year;
                } else {
                    document.getElementById("year").innerHTML = year;
                }
            }

            function openBrowser(url) {
                SendIPC("open_browser",url,function(channel,event,data){
                    console.log(data);
                });
            }
        </script>
    </body>
</html>