<!DOCTYPE html>
<html>
    <head>
        <title>New Offering Listing</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/index.css" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    </head>
    <body>
        <!-- HEADER -->
        <h2 class="w3-container w3-yellow header">New Offering Listing</h2>
        <!-- MAIN PAGE -->
        <div id="main-page" class="w3-container">
            <br/><br/><br/>
            <div class="w3-card w3-padding w3-margin">
                <form>
                <div class="w3-section">
                    <label>Organization Details</label>
                    <textarea name="organizationDetails" class="w3-input w3-border"></textarea>
                </div>
                <div class="w3-section">
                    <label>Securities Information</label>
                    <textarea name="securitiesInfo" class="w3-input w3-border"></textarea>
                </div>
                <div class="w3-section">
                    <label>Offering Terms</label>
                    <textarea name="offeringTerms" class="w3-input w3-border"></textarea>
                </div>
                <div class="w3-section">
                    <label>Directors Information</label>
                    <textarea name="directorsInfo" class="w3-input w3-border"></textarea>
                </div>
                <div class="w3-section">
                    <label>Remuneration</label>
                    <textarea name="remuneration" class="w3-input w3-border"></textarea>
                </div>
                </form>
            </div>
            <button id="create-submission-file" class="w3-button w3-block w3-black">Submit</button>
            <br/>
            <button id="download-submission-file" class="w3-button w3-block w3-blue">Download</button>
            <br/>
            <a href="./index.html" class="w3-button w3-block w3-orange">Back</a>
            <br/><br/><br/>
        </div>
        <!-- FOOTER -->
        <h5 class="w3-container w3-yellow footer">
            &copy; <span id="year"></span> by <a href="https://presspage-entertainment.biz" target="_system" style="text-decoration: none">PressPage Entertainment Inc</a> DBA <a href="https://redeecas.presspage-entertainment.biz" target="_system" style="text-decoration: none">RedeeCash</a>. All rights reserved.
            &nbsp;<span id="version" class="w3-tiny"></span>
        </h5>                       
        <!-- JAVASCRIPT -->
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">
            window.onload = function() {
                document.getElementById("version").innerHTML = 'Version ' + localStorage.getItem('version');

                var year = new Date().getFullYear();
                if (year > 2022) {
                    document.getElementById("year").innerHTML = "2022-" + year;
                } else {
                    document.getElementById("year").innerHTML = year;
                }
            }
            function handleSubmit() {
                const formData = {};
                document.querySelectorAll("textarea").forEach((textarea) => {
                    formData[textarea.name] = textarea.value;
                });
                console.log("Submitted Data:", formData);
                alert("Application Submitted Successfully");
            }
            document.getElementById("create-submission-file").addEventListener("click", function(e) {
                e.preventDefault();
                handleSubmit();
            });
            document.getElementById("download-submission-file").addEventListener("click",function(e){
                e.preventDefault();
            });
        </script>
    </body>
</html>